# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
# Use `npm pack` to create a tgz file. View the contents of the .tgz to test your .npmignore
*.map
.baseDir*
.github/
.gitmodules
.idea
.nojekyll
.nyc_output/
.prettierignore
.travis.yml
.tscache
Gruntfile.js
_config.yml
browser
docs
ion-tests
src
test
test-driver
tests
